html, #root {
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.button{
  display: block;
  width: 250px;
  font-family: 'Courier New', Courier, monospace; 
  background-color: #000000;                      
  color: #ffffff;                                 
  text-decoration: none;
  text-align: flex;
  position: relative;
}

.button::before {
  content: "+------------------------+";
  display: block;
  font-weight: bold;
}

.button::after {
  content: "+------------------------+";
  display: block;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.complex-info p{
  margin: 2px 0; 
  font-weight: 500;
}

.name{
  color: #777;
}

.subtitle {
  margin-top: 10px;
  font-style: italic;
  color: #777;  
  
}

.bar-container {  /* the bars of the actual sort */
  display: flex;
  align-items: flex-end; 
  height: 500px;
  width: 100%;
  border-bottom: 2px solid #ccc;
  gap: 1px;
  padding: 10px;
  background-color: #000000;
}

.bar {
  flex: 1; /* Makes bars auto-stretch to fit width */
  background-color: #ffffff;
  min-width: 1px
}

.sorting_name_box {
  /* Container now just handles grouping if needed */
  display: flex;
  flex-wrap: wrap;                  
  justify-content: space-evenly;   /* spaces them */
  gap: 17px;    /* space between each box */
  margin:0 auto   /* centers it */
}


.algo-card {
  display: block;
  width: 298px;
  font-family: 'Courier New', Courier, monospace; 
  background-color: #000000;                      
  color: #ffffff;                                 
  text-decoration: none;
  text-align: flex;
  position: relative;
}


/* added these instead so i could add the little *'s at the corners */ 
.algo-card::before {
  content: "X-----------------------------X";
  display: block;
  font-weight: bold;
}

.algo-card::after {
  content: "X-----------------------------X";
  display: block;
  font-weight: bold;
}

.card-body {
  border-left: 2px dashed #ffffff;  /* vertical lines | */
  border-right: 2px dashed #ffffff;
  padding: 10px 5px;
}


.card-image-box {
  background-color: #000000; 
  width: 100%;
  padding: 20px 0;           
  margin-bottom: 15px;      
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-img {
  height: 100px;
  width: 200px;
  filter: grayscale(100%)
}
